@tailwind base;
@tailwind components;
@tailwind utilities;
footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.App {
  text-align: center;
}

.iconText {
  margin: 0 0.5rem;
}

.navbarStyle {
  padding: 0.5rem 1rem !important;
}

.navbarButton {
  color: #fff !important;
  padding: 0.5rem 1rem !important;
}

.iconText {
  margin: 0 0.5rem;
}

.navbarStyle {
  padding: 0.5rem 1rem;
}

.navbarButton {
  color: #fff !important;
}

.data-area-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.todo-form {
  width: 60%;
}

.todo-list {
  width: 60%;
}

.todo-label {
  font-size: large;
  margin-right: 22%;
  margin-left: 3%;
}

.todo-view-btn {
  float: right;
}

td {
  word-break: break-word;
  max-width: 34rem;
}

.warningMessage {
  color: red;
}

.card-title {
  text-align: center;
}

.signInButton {
  margin: 1rem;
}




* {
  font-family: "SF Pro Display";
}

#divToExport * {
  font-family: 'Times New Roman';
  font-weight: 400;
}

#divToExport {
  text-align: left;
  width: 8.5in;
  height: 5.5in;
  padding: 30px;
  padding-top: 40px;
  position: absolute;
  left: -9999px;
  top: -9999px;
}

#divToExport h1 {
  text-align: center;
  letter-spacing: 6px;
  padding-bottom: 40px;
  font-size: 36px;
}

#divToExport div {}

#divToExport .reason-field {
  margin-top: 20px;
}

#divToExport .container {
  display: flex;
  margin-bottom: 10px;
}

#divToExport .flex60 {
  flex: 60%;
  display: flex;
  align-items: center;
  padding-right: 40px;
}

#divToExport .flex44 {
  flex: 44%;
  display: flex;
  align-items: center;
}

#divToExport .flex100 {
  flex: 100%;
  display: flex;
  align-items: center;
}

#divToExport .label {
  flex: 1;
  border-bottom: 1px solid black;
}

#divToExport .label-small {
  flex: .2;
  border-bottom: 1px solid black;
}

#divToExport .center {
  text-align: center;
}

#divToExport .reason {
  margin-top: 40px;
}

#divToExport .signature-field {
  margin-top: 80px;
}

#divToExport .empty {
  margin-bottom: 0px;
}

#divToExport .signature {
  display: flex;
  justify-content: center;
  align-items: center;
}

#divToExport .qr-code {
  position: absolute; 
  top: 10px;
  right: 10px;
}



html {
  background-color: #EDEDED;
}

#root {
  background: #EDEDED 0% 0% no-repeat padding-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-view-logo {
  /* Layout Properties */

  /* position: relative; */
  position: fixed;
  top: 15px;
  right: 41px;
  width: 180px;
  height: 150px;
}

.main-view-body {
  /* Layout Properties */

  /* position: relative; */
  position: fixed;
  top: 180px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: grey 1px solid;
  margin-left: 27px;
  margin-right: 27px;
  border-radius: 0px 10px 10px 10px;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 33px;
  background-color: white;
  margin-bottom: 1%;
  overflow: auto;
  /* box-shadow: 0px 0px 0px 5px #FF0000; */
}

/* .table-content{

  overflow: auto;
} */
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table thead {
  position: sticky;
  top: 0;
}

.main-navigation {

  /* position: relative; */
  position: fixed;
  top: 130px;
  left: 27px;
}

.main-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-navigation li {
  float: left;
  width: 174px;
  height: 71px;
}

.main-navigation li a {
  display: block;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 6px;
  padding-top: 16px;
  padding-bottom: 14px;
  text-decoration: none;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  color: white;
  font: normal normal bold 17px/20px 'SF Pro Display';
  letter-spacing: 0.51px;
}

.main-navigation li a.ticket-entry {
  background: url('./img/icons8-plus-30.png');
  background-repeat: no-repeat;
  background-color: #FF0000;
  background-position: 12% 55%;
  background-size: 18px;
  padding-left: 30px;
}

.main-navigation li a.ticket-list {
  background-color: #3B82F6;
}

.main-navigation li a.ticket-users {
  background-color: #10B981;
}

.main-navigation li div {
  display: block;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 6px;
  padding-top: 16px;
  padding-bottom: 14px;
  text-decoration: none;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  color: white;
  font: normal normal bold 17px/20px 'SF Pro Display';
  letter-spacing: 0.51px;
  background-color: #FF0000;
}

.main-navigation li div.TICKETS {
  background-color: #3B82F6;
}

.main-navigation li div.USERS {
  background-color: #10B981;
}


.App-header {
  box-shadow: 1px 1px 10px 2px grey;
  border-radius: 10px;
  background-color: white;
  width: 588px;
  max-width: 60%;
  height: auto;
  /* height: 451px; */

  font-size: calc(10px + 2vmin);
  color: black;

  margin-top: 6%;
  margin-bottom: 6%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.App-header form .text-center img {
  width: 50%;
  margin-top: 24px;
  margin-bottom: 20px;
}

.submit-text {
  text-align: left;
  font: normal normal normal 17px 'SF Pro Display';
  /* font-size: max(3vw); */
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.ticket-form {
  text-align: left;
}

.description-text {
  text-align: left;
  font: normal normal normal 17px 'SF Pro Display';
  letter-spacing: 0.45px;
  color: #A4AEB7;
  opacity: 1;
}

.description-input {
  width: 100%;
  height: 179px;
  border: 2px solid #CFD4D9;
  border-radius: 5px;
  resize: none;
}

button.custom-btn {
  background: #FF0000;
  border: none;
  font: normal normal normal 20px 'SF Pro Display';
  width: 212px;
  height: 46px;
  border-radius: 5px;
  letter-spacing: 0.85px;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}




@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #383636;
  /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.form-select option {
  /* color:red; */
}

.form-select option:hover {
  /* color:red; */
  background-color: red;
}

.status-badge {
  font-size: 14px;
  padding: 8px;
  border-radius: 15px;
  color: black;
  width: auto;
  font-weight: bold;
  text-align: center;
  background-color: #D1FFD1;

  /* background: url('./img/icons8-plus-30.png'); */
  background: '.dsdsd';
  content: 'dsd';
  background-repeat: no-repeat;
  background-color: #FF0000;
  background-position: 12% 55%;
  background-size: 18px;
  padding-left: 30px;
}

.dot-container-done {
  font: normal normal bold 12px 'SF Pro Display';
  text-align: center;
  background-color: #D1FFD1;
  position: relative;
  color: #10B981;
  border-radius: 15px;
  width: 80px;
  padding: 6px;
  padding-left: 20px;
  letter-spacing: 0.78px;
}

.dot-container-done::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #10B981;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.dot-container-open {
  font: normal normal bold 12px 'SF Pro Display';
  text-align: center;
  background-color: #FFF9A4;
  position: relative;
  color: #F59E0B;
  border-radius: 15px;
  width: 80px;
  padding: 6px;
  padding-left: 20px;
  letter-spacing: 0.78px;
}

.dot-container-open::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #F59E0B;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.dot-container-onhold {
  font: normal normal bold 12px 'SF Pro Display';
  text-align: center;
  background-color: #FFD7D7;
  position: relative;
  color: #FF0000;
  border-radius: 15px;
  width: 90px;
  padding: 6px;
  padding-left: 20px;
  letter-spacing: 0.78px;
}

.dot-container-onhold::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #FF0000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.dot-container-inprogress {
  font: normal normal bold 12px 'SF Pro Display';
  text-align: center;
  background-color: #C9EAFF;
  position: relative;
  color: #3B82F6;
  border-radius: 15px;
  width: 110px;
  padding: 6px;
  padding-left: 20px;
  letter-spacing: 0.78px;
}

.dot-container-inprogress::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #3B82F6;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translate(-50%, -50%);
}

/* Floating message */
.flying-message {
  position: fixed;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #42b983;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: top 0.3s ease-in-out;
  width: auto;
  text-align: center;
}

.flying-message.visible {
  top: 20px;
}

.modal {
  --bs-modal-width: 80% !important;
}

.modal.errorlogin {
  --bs-modal-width: 30% !important;
}

/* .modal-dialog{
  width: 900px !important;
   margin: auto !important;
} */

.modal-content {
  /* width: 900px !important;  */
}

.modal-body {
  /* width: 50%; */
}

@media (max-width: 600px) {

  .loading-spinner {
    width: 30px;
    height: 30px;
    border: 6px solid #f3f3f3;
    /* Light grey */
    border-top: 6px solid #383636;
    /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  .spinner-container {
    position: absolute;
    right: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 0px;
    padding: 10px;
  }

  .main-view-logo {
    /* Layout Properties */
    /* position: absolute; */
    position: fixed;
    top: 20px;
    /* right: auto; */
    /* left: auto; */
    top: 8%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
  }

  .main-navigation {
    /* position: absolute; */
    position: fixed;
    top: 110px;
    left: 27px;
  }

  .main-view-body {
    /* Layout Properties */
    /* position: relative; */
    position: fixed;
    top: 148px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: grey 1px solid;
    margin-left: 27px;
    margin-right: 27px;
    border-radius: 0px 10px 10px 10px;
    /* padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 33px; */
    background-color: white;
    padding: 10px;
    /* height: 75%; */
    margin-bottom: 5%;
    overflow: auto;
  }

  .main-navigation {

    /* position: relative; */
    position: fixed;
    top: 100px;
    left: 27px;
  }

  .main-navigation li {
    float: left;
    width: auto;
    height: 71px;
  }

  .main-navigation li a {
    display: block;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    color: white;
    font: normal normal bold 12px 'SF Pro Display';
    letter-spacing: 0.51px;
  }

  .main-navigation li a.ticket-entry {
    background: url('./img/icons8-plus-30.png');
    background-repeat: no-repeat;
    background-color: #FF0000;
    background-position: 8% 55%;
    background-size: 14px;
    padding-left: 18%;
  }

  .main-navigation li:has(> a.ticket-users) {
    width: 60px;
  }

  .main-navigation li:has(> a.ticket-list) {
    width: 70px;
  }

  .App-header {
    box-shadow: 1px 1px 10px 2px grey;
    border-radius: 10px;
    background-color: white;
    width: 85%;
    height: auto;
    /* height: 451px; */

    font-size: calc(10px + 2vmin);
    color: black;

    margin-top: 6%;
    margin-bottom: 6%;
    padding: 2vw;
    margin-left: auto;
    margin-right: auto;
  }

  .App-header form .text-center img {
    width: 70%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .submit-text {
    text-align: left;
    font: normal normal normal 3vw 'SF Pro Display';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .description-text {
    text-align: left;
    font: normal normal normal 3vw'SF Pro Display';
    letter-spacing: 0.45px;
    color: #A4AEB7;
    opacity: 1;
  }

  textarea.description-input {
    width: 100%;
    height: 52vw;
    border: 2px solid #CFD4D9;
    border-radius: 5px;
    resize: none;
    font-size: 3vw;
  }

  button.custom-btn {
    background: #FF0000;
    border: none;
    font: normal normal normal 3vw 'SF Pro Display';
    width: 50%;
    height: 7vw;
    border-radius: 5px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .dot-container-done {
    font: normal normal bold 3.5vw 'SF Pro Display';
    text-align: center;
    background-color: #D1FFD1;
    position: relative;
    color: #10B981;
    border-radius: 15px;
    width: auto;
    height: auto;
    padding: 4px;
    padding-left: 6vw;
    padding-right: 8px;
    letter-spacing: 0.78px;
  }

  .dot-container-done::before {
    content: '';
    display: block;
    width: 2vw;
    height: 2vw;
    background-color: #10B981;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  .dot-container-open {
    font: normal normal bold 3.5vw 'SF Pro Display';
    text-align: center;
    background-color: #FFF9A4;
    position: relative;
    color: #F59E0B;
    border-radius: 15px;
    width: auto;
    padding: 4px;
    padding-left: 6vw;
    padding-right: 8px;
    letter-spacing: 0.78px;
  }

  .dot-container-open::before {
    content: '';
    display: block;
    width: 2vw;
    height: 2vw;
    background-color: #F59E0B;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  .dot-container-onhold {
    font: normal normal bold 3.5vw 'SF Pro Display';
    text-align: center;
    background-color: #FFD7D7;
    position: relative;
    color: #FF0000;
    border-radius: 15px;
    width: auto;
    padding: 4px;
    padding-left: 6vw;
    padding-right: 8px;
    letter-spacing: 0.78px;
  }

  .dot-container-onhold::before {
    content: '';
    display: block;
    width: 2vw;
    height: 2vw;
    background-color: #FF0000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
  }

  .dot-container-inprogress {
    font: normal normal bold 3.5vw 'SF Pro Display';
    text-align: center;
    background-color: #C9EAFF;
    position: relative;
    color: #3B82F6;
    border-radius: 15px;
    width: auto;
    padding: 4px;
    padding-left: 6vw;
    padding-right: 8px;
    letter-spacing: 0.78px;
  }

  .dot-container-inprogress::before {
    content: '';
    display: block;
    width: 2vw;
    height: 2vw;
    background-color: #3B82F6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translate(-50%, -50%);
  }
}
